@charset "utf-8";
/* CSS Document */

/*
BAUMLISTE
*/

main {
    text-align: center;
}

.baum {
    padding-top: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
}

.baeume {
    padding-top: 15px;
    display: flex;
    text-align: center;
    justify-content: center; 
}

ul{
    width: 350px;
    list-style-position: inside;
    list-style-type: disc;
    text-align: center;   
}
ul li {
    text-align: left;
    padding-left: 20px;
    height: 50px;
    font-size: 40px;
}

ul li:nth-of-type(2n-1){
    background-color: white;
    list-style-type: square;
}
ul li:hover {
    color: orange;
}
ul li span:hover{
    color: darkgreen;
}
ul li a{
    text-decoration: none;
}
ul li a:hover {
    color: blue;
    text-decoration: underline;
}

div.bruder {
    padding-top: 30px;
    filter: grayscale(100%);
    font-weight: bold;
}
div.bruder:hover{
    filter: grayscale(0%);
    color:tomato;
}

hr {
    width: 350px;
}

footer {
    background-color: var(--farbe3);
    color: var(--farbe2);
    padding-top: 30px;
}
footer a {
    color: var(--farbe2);
}
